@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@tailwind base;

@tailwind components;
@tailwind utilities;

html {
	font-family: 'Inter', sans-serif;
	color: #1f1f1f;
}

summary::-webkit-details-marker {
	display: none; /* Скрыть маркер для Chrome и Safari */
}

summary {
	list-style: none; /* Скрыть маркер для остальных браузеров */
}
